.Index-Block {
    padding: 30px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}


.Index-Block .Title {
    text-align: center;
    color: #274a3f;
    font-size: 28px;
    font-weight: bold;
}

[data-md-color-scheme="slate"] {
    .Index-Block .Title {
        color: #70b394;
    }
}
